.ArticleDetails {
  min-height: 100%;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 20px;
}

.avatarWrapper {
  text-align: center;
}

.articleInfo {
  display: flex;
  align-items: canter;
  gap: 5px;
}

.block {
  margin-top: 16px;
}
