.selectWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--primary-color);
  padding: 2px 10px 2px 2px;
  color: var(--primary-color);
}

.option {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}

.readonly {
  .label {
    opacity: 0.7;
  }
}
