.ProfileCard {
  padding: 20px;
  border: var(--inverted-bg-color) 2px solid;
}

.header {
  display: flex;
}

.editBtn {
  margin-left: auto;
}

.data {
  margin-top: 30px;
}

.input {
  margin-top: 10px;
}
