.ProfileCard {
  padding: 20px;
  border: var(--inverted-bg-color) 2px solid;
}

.input {
  margin-top: 10px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.editing {
  border: var(--inverted-primary-color) 2px solid;
}
